@charset "utf-8";

.accor_block {
	position: relative;
}

.content_main_bg {

    &.price_page{
        padding-bottom: 70px;
        overflow: hidden;

        @media all and (max-width: 767px){
        	padding-bottom: 0;
        }

        h1 {
            margin-bottom: 27px;
        }
    }



	.tabs-wr-main {
		overflow: unset;
		padding: 0;

		
		.tabs-title {
			li {
				@media all and (max-width: 767px) {
					width: 	159px;
					text-align: center;	
					padding: 13px 15px;	
				}

				@media all and (max-width: 370px) {
					width: 	148px;
					text-align: center;	
					padding: 13px 10px;	
					font-size: 16px;	
				}
			}
		}

		.tab_main {
	        position: absolute;
	        opacity: 0;
	        visibility: hidden;
	        transition: all 0.3s;

	        &.active {
	            position: relative;
	            visibility: visible;
	            opacity: 1;
	        }
		}

		.teb_body {
			padding: 20px 19px;
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 22px;
			color: #9E9E9E;

			@media all and (max-width: 767px){
				padding: 20px 14px;
			}
		}

		.text_tabs {
			padding: 20px 0 40px;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
			position: relative;

			@media all and (max-width: 767px) {
				margin: 0 -16px -15px;
				padding: 26px 16px 34px;
				background: #fff;
			}
		}
	}

	&.reviews_page {
    	padding-bottom: 70px;
        overflow: hidden;

        @media all and (max-width: 767px){
        	padding-bottom: 0;
        }

        h1 {
            margin-bottom: 27px;
        }

        .block_inner {
        	position: relative;

        	.review_btn {
        		@media all and (min-width: 1024px){
        			position: absolute;
	        		top: 30px;
	        		right: 0;
	        		padding: 13px 40px;
        		}

        		@media all and (max-width: 1023px) {
        			background: #6CD6B5;
        			color: #fff;
        			width: 343px;
        			margin-bottom: 30px;
        		}

        		@media all and (max-width: 500px) {
        			width: 100%;
        		}
        	}
        }

        .tabs-wr-main .tabs-title {
			li {

				@media all and (max-width: 767px) {
					width: auto;
					text-align: center;	
					padding: 13px 16px;	
				}
			}
		}
    }
}

.content_main_bg.services_page {
	.tabs-wr-main {
		overflow: hidden;
	}
}

.reviews_list {
	position: relative;

	.item {
        padding: 30px;
        background: #FFFFFF;
        box-shadow: 0px 6px 10px -2px #E9DFEF;
        border-radius: 25px;
        margin: 0 0 20px;

        .name {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #141515;
            padding-bottom: 20px;
        }

        .text {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #414141;
            padding-bottom: 20px;
            border-bottom: 1px solid #E5E2E7;
            margin-bottom: 22px;
        }

        .item_bottom {
            display: flex;
            align-items: center;
        }

        .date {
            padding-left: 30px;
            position: relative;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #8D8D8D;
            margin-right: 22px;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 22px;
                height: 22px;
                margin: auto;
                background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.4 2V5.6M14.6 2V5.6M2 9.2H20M5.6 3.8H16.4C18.3882 3.8 20 5.41177 20 7.4V16.4C20 18.3882 18.3882 20 16.4 20H5.6C3.61177 20 2 18.3882 2 16.4V7.4C2 5.41177 3.61177 3.8 5.6 3.8Z' stroke='%238D8D8D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
        }

        .doc {
            margin-right: 22px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 125%;
            color: #8D8D8D;

            strong {
                color: #A762D4;
                font-weight: 600;
            }

            a {
            	text-decoration: none;
            	color: #a762d4;
            }
        }

        @media all and (max-width: 767px){
            padding: 30px 24px;
            position: relative;
            margin-bottom: 17px;

            .name {
                padding-bottom: 15px;
                padding-right: 100px;
            }

            .text {
                padding-bottom: 15px;
                margin-bottom: 21px;
            }

            .item_bottom {
                display: block;
            }

            .doc {
                margin-bottom: 12px;
            }

            .date {
                position: absolute;
                top: 30px;
                right: 24px;
                margin: 0;
                padding-left: 0;

                &:before {
                    display: none;
                }
            }
        }

        .address {
            padding-left: 30px;
            position: relative;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #141515;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 22px;
                height: 22px;
                margin: auto;
                background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8572 12.4286C10.1508 12.4286 9.46029 12.2191 8.87297 11.8267C8.28565 11.4342 7.82789 10.8765 7.55758 10.2239C7.28727 9.57128 7.21654 8.85318 7.35435 8.16039C7.49215 7.4676 7.8323 6.83123 8.33177 6.33176C8.83124 5.83229 9.46761 5.49214 10.1604 5.35434C10.8532 5.21653 11.5713 5.28726 12.2239 5.55757C12.8765 5.82789 13.4343 6.28565 13.8267 6.87296C14.2191 7.46028 14.4286 8.15078 14.4286 8.85714C14.4274 9.804 14.0508 10.7117 13.3813 11.3813C12.7118 12.0508 11.804 12.4274 10.8572 12.4286ZM10.8572 6.71429C10.4333 6.71429 10.019 6.83996 9.66664 7.07542C9.31425 7.31088 9.0396 7.64555 8.87741 8.03711C8.71522 8.42866 8.67279 8.85952 8.75547 9.27519C8.83815 9.69087 9.04224 10.0727 9.34192 10.3724C9.64161 10.6721 10.0234 10.8761 10.4391 10.9588C10.8548 11.0415 11.2856 10.9991 11.6772 10.8369C12.0687 10.6747 12.4034 10.4 12.6389 10.0477C12.8743 9.69526 13 9.28096 13 8.85714C12.9994 8.289 12.7735 7.74428 12.3718 7.34254C11.97 6.9408 11.4253 6.71485 10.8572 6.71429Z' fill='%238D8D8D'/%3E%3Cpath d='M10.8572 21L4.83144 13.8936C4.74771 13.7869 4.66485 13.6795 4.58287 13.5714C3.55357 12.2156 2.99751 10.5594 3.00001 8.85714C3.00001 6.7733 3.82781 4.7748 5.30131 3.3013C6.77481 1.8278 8.77331 1 10.8572 1C12.941 1 14.9395 1.8278 16.413 3.3013C17.8865 4.7748 18.7143 6.7733 18.7143 8.85714C18.7168 10.5587 18.161 12.214 17.1322 13.5693L17.1314 13.5714C17.1314 13.5714 16.9171 13.8529 16.885 13.8907L10.8572 21ZM5.72287 12.7107C5.72429 12.7107 5.89001 12.9307 5.92787 12.9779L10.8572 18.7914L15.7929 12.97C15.8243 12.9307 15.9914 12.7093 15.9922 12.7086C16.833 11.6008 17.2874 10.2479 17.2857 8.85714C17.2857 7.15218 16.6084 5.51705 15.4028 4.31146C14.1972 3.10587 12.5621 2.42857 10.8572 2.42857C9.15219 2.42857 7.51706 3.10587 6.31146 4.31146C5.10587 5.51705 4.42858 7.15218 4.42858 8.85714C4.42708 10.2487 4.88199 11.6024 5.72358 12.7107H5.72287Z' fill='%238D8D8D'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
        }
    }
}

.page_list {
	padding: 4px 0 30px;
	text-align: center;
	font-size: 0;
	position: relative;

	a {
		display: inline-block;
		vertical-align: top;
		margin: 0 4px;
		text-decoration: none;
		background: #FFFFFF;
		border: 1px solid #E9DFEF;
		border-radius: 8px;
		width: 35px;
		height: 35px;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 33px;
		color: #000000;
		position: relative;
		transition: all 0.3s;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transition: all 0.3s;
		}

		&:hover {
			border-color: transparent;
			background: #C998E9;
			color: #fff;
			box-shadow: 0px 7px 4px rgba(139, 79, 177, 0.1);
		}

		&.prev {
			font-size: 0;

			&:before {
				background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7359 16.7359C13.905 16.5667 14 16.3373 14 16.098C14 15.8588 13.905 15.6294 13.7359 15.4602L9.2702 10.9946L13.7359 6.52889C13.9002 6.35874 13.9911 6.13086 13.9891 5.89431C13.987 5.65777 13.8921 5.4315 13.7249 5.26423C13.5576 5.09697 13.3313 5.00209 13.0948 5.00003C12.8583 4.99798 12.6304 5.08891 12.4602 5.25325L7.35673 10.3567C7.1876 10.5259 7.09259 10.7553 7.09259 10.9946C7.09259 11.2338 7.1876 11.4632 7.35673 11.6324L12.4602 16.7359C12.6294 16.905 12.8588 17 13.098 17C13.3373 17 13.5667 16.905 13.7359 16.7359Z' fill='%23B6ADBC'/%3E%3C/svg%3E%0A") 50% no-repeat;
			}

			&:hover:before{
				background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7359 16.7359C13.905 16.5667 14 16.3373 14 16.098C14 15.8588 13.905 15.6294 13.7359 15.4602L9.2702 10.9946L13.7359 6.52889C13.9002 6.35874 13.9911 6.13086 13.9891 5.89431C13.987 5.65777 13.8921 5.4315 13.7249 5.26423C13.5576 5.09697 13.3313 5.00209 13.0948 5.00003C12.8583 4.99798 12.6304 5.08891 12.4602 5.25325L7.35673 10.3567C7.1876 10.5259 7.09259 10.7553 7.09259 10.9946C7.09259 11.2338 7.1876 11.4632 7.35673 11.6324L12.4602 16.7359C12.6294 16.905 12.8588 17 13.098 17C13.3373 17 13.5667 16.905 13.7359 16.7359Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% no-repeat;
			}
		}

		&.next {
			font-size: 0;

			&:before {
				transform: rotate(180deg);
				background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7359 16.7359C13.905 16.5667 14 16.3373 14 16.098C14 15.8588 13.905 15.6294 13.7359 15.4602L9.2702 10.9946L13.7359 6.52889C13.9002 6.35874 13.9911 6.13086 13.9891 5.89431C13.987 5.65777 13.8921 5.4315 13.7249 5.26423C13.5576 5.09697 13.3313 5.00209 13.0948 5.00003C12.8583 4.99798 12.6304 5.08891 12.4602 5.25325L7.35673 10.3567C7.1876 10.5259 7.09259 10.7553 7.09259 10.9946C7.09259 11.2338 7.1876 11.4632 7.35673 11.6324L12.4602 16.7359C12.6294 16.905 12.8588 17 13.098 17C13.3373 17 13.5667 16.905 13.7359 16.7359Z' fill='%23B6ADBC'/%3E%3C/svg%3E%0A") 50% no-repeat;
			}

			&:hover:before{
				background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7359 16.7359C13.905 16.5667 14 16.3373 14 16.098C14 15.8588 13.905 15.6294 13.7359 15.4602L9.2702 10.9946L13.7359 6.52889C13.9002 6.35874 13.9911 6.13086 13.9891 5.89431C13.987 5.65777 13.8921 5.4315 13.7249 5.26423C13.5576 5.09697 13.3313 5.00209 13.0948 5.00003C12.8583 4.99798 12.6304 5.08891 12.4602 5.25325L7.35673 10.3567C7.1876 10.5259 7.09259 10.7553 7.09259 10.9946C7.09259 11.2338 7.1876 11.4632 7.35673 11.6324L12.4602 16.7359C12.6294 16.905 12.8588 17 13.098 17C13.3373 17 13.5667 16.905 13.7359 16.7359Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% no-repeat;
			}
		}
	}

	.number_active {
		display: inline-block;
		vertical-align: top;
		margin: 0 4px;
		width: 35px;
		height: 35px;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 35px;
		color: #fff;
		border-radius: 8px;
		background: #C998E9;
	}
}

.sedation_page {
	display: flex;
	padding-bottom: 45px;

	@media all and (max-width: 1100px){
		padding-bottom: 15px;
	}

	@media all and (max-width: 767px){
		flex-direction: column;
	}

	.left_block {
		flex: 1 1 auto;
		margin-right: 30px;

		@media all and (max-width: 767px) {
			order: 1;
			margin: 0;
		}

		h1 {
			margin-bottom: 18px;

			@media all and (max-width: 767px) {
				display: none;
			}
		}

		.body {
			font-style: normal;
		    font-weight: 400;
		    font-size: 16px;
		    line-height: 21px;
		    color: #000000;
		    
		    p{
		        margin: 0 0 15px;

		        @media all and (max-width: 1100px){
		            margin-bottom: 10px;
		        }

		        &:last-child {
		        	margin-bottom: 0;
		        }
		    }

		    ul {
		    	margin-bottom: 34px;

		    	@media all and (max-width: 1100px){
		    		margin-bottom: 15px;
		    	}

		        li {
		            padding-left: 25px;
		            margin-bottom: 0;
		            color: #000000;

		            &:before {
		                width: 3px;
		                height: 3px;
		                background: #000;
		                left: 10px;
		            }
		        }
		    }
		}
	}

	.right_block {
		flex: 0 0 374px;

		@media all and (min-width: 768px) {
			h1 {
				display: none;
			}
		}

		img {
			width: 100%;
			border-radius: 25px;
		}

		@media all and (max-width: 767px) {
			flex: 0 0 auto;
			padding:  0 0 20px;
		}

		@media all and (max-width: 480px) {
			img {
				height: 204px;
				object-fit: cover;
			}
		}
	}
}

.vidos_block {
	display: flex;
	flex-wrap:wrap;
	margin: 0 -16px;
	padding-bottom: 10px;

	@media all and (max-width: 900px) {
		display: block;
		margin: 0;
	}

	.item {
		flex: 0 0 calc(33.33% - 32px);
		margin: 0 16px 20px;
		border-radius: 20px;
		overflow: hidden;

		@media all and (max-width: 900px) {
			width: 100%;
			margin: 0 0 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.mobile_hide {
	@media all and (max-width: 767px) {
		display: none;
	}
}

.sedation_block_inner {
	padding: 70px 16px;

	.sedation_page {
		padding-bottom: 0;
	}

	@media all and (max-width: 767px) {
		display: none;
	}

	.title {
		font-style: normal;
		font-weight: 500;
		font-size: 28px;
		line-height: 33px;
		color: #000000;
		padding-bottom: 16px;
	}
}

.documents_page {
	padding-top: 14px;
	display: flex;
	padding-bottom: 74px;

	@media all and (max-width: 1024px) {
		padding-bottom: 22px;
		padding-top: 0;
	}

	@media all and (max-width: 1000px) {
		flex-wrap:wrap;
	}

	.left_block{
		flex: 0 0 273px;
		margin-right: 30px;

		@media all and (max-width: 1200px){
			flex: 0 0 270px;
			margin-right: 20px;
		}

		@media all and (max-width: 1000px){
			flex: none;
			width: 100%;
			margin: 0 0 17px;
		}

		.list_doc {
			padding: 24px;
			border: 1px dashed #6CD6B5;
			border-radius: 20px;

			a {
				text-decoration: none;
				display: block;
				margin-bottom: 20px;
				padding-left: 47px;
				position: relative;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				color: #000000;
				min-height: 38px;
				transition: all 0.3s;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 30px;
					height: 38px;
					background: url("data:image/svg+xml,%3Csvg width='30' height='38' viewBox='0 0 30 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00024 24.0249C7.65524 24.0249 7.42273 24.0587 7.30273 24.0924V26.3012C7.44523 26.3349 7.62336 26.3443 7.86898 26.3443C8.76711 26.3443 9.32023 25.8905 9.32023 25.1237C9.32023 24.4374 8.84399 24.0249 8.00024 24.0249ZM14.5384 24.0474C14.1634 24.0474 13.9196 24.0812 13.7752 24.1149V29.0087C13.9196 29.0424 14.1521 29.0424 14.3621 29.0424C15.894 29.0537 16.8915 28.2099 16.8915 26.4249C16.9027 24.8687 15.9934 24.0474 14.5384 24.0474Z' fill='%236CD6B5'/%3E%3Cpath d='M18.75 0.25H3.75C2.75544 0.25 1.80161 0.645088 1.09835 1.34835C0.395088 2.05161 0 3.00544 0 4V34C0 34.9946 0.395088 35.9484 1.09835 36.6516C1.80161 37.3549 2.75544 37.75 3.75 37.75H26.25C27.2446 37.75 28.1984 37.3549 28.9016 36.6516C29.6049 35.9484 30 34.9946 30 34V11.5L18.75 0.25ZM10.3088 26.8563C9.72937 27.4 8.87437 27.6438 7.87875 27.6438C7.6857 27.6458 7.49274 27.6346 7.30125 27.61V30.2837H5.625V22.9037C6.38148 22.7909 7.14585 22.7395 7.91062 22.75C8.955 22.75 9.6975 22.9487 10.1981 23.3481C10.6744 23.7269 10.9969 24.3475 10.9969 25.0787C10.995 25.8137 10.7513 26.4344 10.3088 26.8563ZM17.4469 29.3969C16.6594 30.0513 15.4613 30.3625 13.9969 30.3625C13.1194 30.3625 12.4987 30.3062 12.0769 30.25V22.9056C12.8336 22.7952 13.5978 22.7431 14.3625 22.75C15.7819 22.75 16.7044 23.005 17.4244 23.5487C18.2025 24.1262 18.69 25.0469 18.69 26.3688C18.69 27.7994 18.1669 28.7875 17.4469 29.3969ZM24.375 24.1938H21.5025V25.9019H24.1875V27.2781H21.5025V30.2856H19.8038V22.8062H24.375V24.1938ZM16.875 13.375V4L26.25 13.375H16.875Z' fill='%236CD6B5'/%3E%3C/svg%3E%0A") 50% no-repeat;
				}
				&:last-child {
					margin-bottom: 0;
				}

				&:hover {
					color: #51C6A1;
				}
			}
		}
	}

	.middle_block {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		flex: 1 1 auto;
		margin-right: 33px;

		@media all and (max-width: 1200px){
			margin-right: 20px;
		}

		@media all and (max-width: 1000px){
			flex: none;
			width: 100%;
			margin: 0 0 17px;
			order: 1;
		}

		strong	{
			font-weight: 600;
		}

		p{
	        margin: 0 0 15px;

	        @media all and (max-width: 1100px){
	            margin-bottom: 10px;
	        }

	        &:last-child {
	        	margin-bottom: 0;
	        }
	    }
	}

	.right_block {
		flex: 0 0 374px;
		font-size: 0;

		@media all and (max-width: 1200px){
			flex: 0 0 300px;
		}

		img {
			width: 100%;
			border-radius: 25px;
		}

		@media all and (max-width: 1000px){
			flex: none;
			width: 100%;
			margin-bottom: 46px;
		}
	}
}

.sale_list {
	padding: 15px 0 30px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;

	@media all and (max-width: 1000px){
		padding: 0 0 10px;
	}

	@media all and (max-width: 579px){
		margin: 0;
		display: block;
	}

	.item {
		display: block;
		text-decoration: none;
		flex: 0 0 calc(33.33% - 31px);
		margin: 0 15px 39px;

		@media all and (max-width: 1000px){
			margin-bottom: 20px;
		}

		@media all and (min-width: 580px) and (max-width: 767px){
			flex: 0 0 calc(50% - 31px);
		}

		@media all and (max-width: 579px){
			margin: 0 0 36px;
		}

		img {
			border-radius: 20px;
			width: 100%;
			height: 237px;
			object-fit: cover;
		    transition: all 0.3s;
		}

		span {
			display: block;
		}

		.name {
			padding: 18px 0 4px;
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			color: #000000;
		    transition: all 0.3s;

			@media all and (max-width: 1000px){
				font-size: 18px;
				padding: 10px 0 6px;
			}
		}

		.text {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			color: #000000;
		}

		&:hover {

			img {
				box-shadow: 0px 6px 10px -2px #E9DFEF;
			}

			.name {
				color: #A762D4;
			}
		}
	}
}

.sale_page {
	padding: 16px 0 70px;
	display: flex;

	@media all and (max-width: 1100px) {
		padding-top: 0;
	}

	@media all and (max-width: 767px){
		display: block;
	}

	.left_block {
		flex: 0 0 474px;
		margin-right: 30px;

		@media all and (max-width: 1000px) {
			flex: 0 0 300px;
		}

		img {
			border-radius: 25px;
			width: 100%;
		}

		@media all and (max-width: 767px){
			margin: 0 0 20px;
		}
	}

	.right_block {
		flex: 1 1 auto;

		.name,h2 {
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			color: #141515;
			margin: 0 0 19px;
		}

		p {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			color: #000000;
			margin: 0 0 20px;

			@media all and (max-width: 1000px){
				margin-bottom: 12px;
			}

			&:last-child{
				margin-bottom: 0;
			}
		}

		.text {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			color: #000000;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #E5E2E7;

			p {
				margin: 0 0 20px;

				@media all and (max-width: 1000px){
					margin-bottom: 12px;
				}

				&:last-child{
					margin-bottom: 0;
				}
			}
		}

		.text_param {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			color: #141515;
			padding-bottom: 23px;

			p{
				margin: 0 0 12px;
			}

			strong {
				font-weight: 600;
			}
		}
	}

	@media all and (max-width: 1000px){
		padding: 0 0 30px;
	}

	.btn {
		display: inline-block;
		padding: 12px 40px;

		@media all and (max-width: 767px){
			display: none;
		}
	}
}

.info_list {
	padding: 15px 0 6px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;

	@media all and (max-width: 1000px){
		padding: 0 0 10px;
	}

	@media all and (max-width: 579px){
		margin: 0;
		display: block;
	}

	.item {
		display: block;
		text-decoration: none;
		flex: 0 0 calc(33.33% - 31px);
		margin: 0 15px 24px;
		background: #FFFFFF;
		box-shadow: 0px 6px 10px -2px #E9DFEF;
		border-radius: 20px;
		    transition: all 0.3s;

		@media all and (max-width: 1000px){
			margin-bottom: 20px;
		}

		@media all and (min-width: 580px) and (max-width: 767px){
			flex: 0 0 calc(50% - 30px);
		}

		@media all and (max-width: 579px){
			margin: 0 0 20px;
		}

		img {
			border-radius: 20px 20px 0 0;
			width: 100%;
			height: 230px;
			object-fit: cover;
		}

		span {
			display: block;
		}

		.name {
			padding: 18px 10px 4px 20px;
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			color: #000000;
			    transition: all 0.3s;

			@media all and (max-width: 1000px){
				font-size: 18px;
				padding: 10px 16px 4px;
			}
		}

		.text {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			color: #000000;
			padding: 0 20px 20px;
		}

		&:hover {
			box-shadow: 0px 6px 10px -2px #E2C9F2;

			.name {
				color: #A762D4;
			}
		}
	}

	& + .page_list {
		padding-bottom: 70px;

		@media all and (max-width: 1000px){
			padding-bottom: 30px;
		}
	}
}

.video_list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;

	@media all and (max-width: 579px){
		margin: 0;
		display: block;
	}

	.item {
		display: block;
		text-decoration: none;
		flex: 0 0 calc(33.33% - 30px);
		margin: 0 15px 30px;

		iframe {
			border-radius: 20px;
		}

		@media all and (max-width: 1000px){
			margin-bottom: 20px;
		}

		@media all and (min-width: 580px) and (max-width: 767px){
			flex: 0 0 calc(50% - 30px);
		}

		@media all and (max-width: 579px){
			margin: 0 0 20px;
		}
	}
}

.klinik_page {
	padding-bottom: 32px;

	@media all and (max-width: 767px) {
		padding-bottom: 0;
	}
}

.klinik_page_map{
	margin-bottom: 27px;
}