include _header.jade
	<div class="content_main_bg klinik_page">
		<div class="about_page_wr">
			<div class="block_inner">
				<div class="path_block"><a href="/">Главная</a><span>></span>Наши клиники</div>
				<h1>Наши клиники</h1>
			</div>
		</div>	
	</div>	
	<div class="contacts_map klinik_page_map mobile_ad">
		<div class="block_inner">
			<div class="inner">
				<div class="tab_map_block">
					<ul class="tab_map_title tabs-title">
						<li class="metro active"><span>Раменки</span></li>
						<li class="metro"><span>Войковская</span></li>
						<li><span>г. Красногорск</span></li>
					</ul>
					<div class="tab_map_body tabs-block">
						<div class="tab_main active">
							<div class="left_map">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf9519109074900e0b2ae271cfcb327b80e69942a9c114efb8bb8335a8df86d4&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
							</div>
							<div class="right_map">
								<div class="top_bb">
									<div class="icon">
										<img src="img/metro.svg" alt="">
									</div>
									<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
								</div>
								<div class="metro">Раменки</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div>
									<a href="tel:+7 (495) 734-11-66" class="phone">+7 (495) 734-11-66</a>
								</div>
								<div>
									<a href="tel:+7 (495) 734-11-77" class="phone">+7 (495) 734-11-77</a>
								</div>
								<div>
									<a href="https://wa.me/79163600909" class="whatsapp">+7 (916) 360-09-09</a>
								</div>
								<div class="rekv">Реквизиты клиники: ООО «Щелкунчик 8», <br>ИНН 7705537855, КПП 772901001</div>
							</div>
						</div>
						<div class="tab_main">
							<div class="left_map">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf9519109074900e0b2ae271cfcb327b80e69942a9c114efb8bb8335a8df86d4&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
							</div>
							<div class="right_map">
								<div class="top_bb">
									<div class="icon">
										<img src="img/metro_green.svg" alt="">
									</div>
									<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
								</div>
								<div class="metro">Войковская</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div>
									<a href="tel:+7 (495) 734-11-66" class="phone">+7 (495) 734-11-66</a>
								</div>
								<div>
									<a href="tel:+7 (495) 734-11-77" class="phone">+7 (495) 734-11-77</a>
								</div>
								<div>
									<a href="https://wa.me/79163600909" class="whatsapp">+7 (916) 360-09-09</a>
								</div>
								<div class="rekv">Реквизиты клиники: ООО «Щелкунчик 8», <br>ИНН 7705537855, КПП 772901001</div>
							</div>
						</div>
						<div class="tab_main">
							<div class="left_map">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf9519109074900e0b2ae271cfcb327b80e69942a9c114efb8bb8335a8df86d4&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
							</div>
							<div class="right_map">
								<div class="top_bb">
									<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
								</div>
								<div class="metro">г. Красногорск</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div>
									<a href="tel:+7 (495) 734-11-66" class="phone">+7 (495) 734-11-66</a>
								</div>
								<div>
									<a href="tel:+7 (495) 734-11-77" class="phone">+7 (495) 734-11-77</a>
								</div>
								<div>
									<a href="https://wa.me/79163600909" class="whatsapp">+7 (916) 360-09-09</a>
								</div>
								<div class="rekv">Реквизиты клиники: ООО «Щелкунчик 8», <br>ИНН 7705537855, КПП 772901001</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>				
	</div>	
	<div class="form_green_block main_page_hide">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">Записаться на консультацию</div>
				<div class="text">Заполните форму и в ближайшее время с вами свяжется администратор для уточнения подробностей</div>
			</div>
			<div class="right_block">
				<form>
					<div class="left_form">
						<div class="col_2">
							<div class="field">
								<div class="name_field">Ваше имя*</div>
								<input type="text" required placeholder="Например, Олег...">
							</div>
							<div class="field">
								<div class="name_field">Мобильный телефон*</div>
								<input type="text" required placeholder="+7 (___) ___-__-__">
							</div>
						</div>
						<div class="field_text">Нажимая кнопку «Отправить», Вы даете согласие на обработку персональных данных</div>
					</div>
					<div class="right_form">
						<input type="submite" value="Отправить" class="btn">
						<div class="phone">
							<div class="name_phone">или позвоните нам</div>
							<a href="tel:+74992887115">+7 (499) 288-71-15</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
include _footer.jade