include _header.jade
	<div class="chelk_slider_block">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">Когда сравнивают, <br>то выбирают нас!</div>
				<div class="text">
					<ul>
						<li>Лучшие специалисты</li>
						<li>Европейский подход к лечению</li>
						<li>Современное оборудование</li>
					</ul>
				</div>
				<a href="#" class="btn border make_btn">Связаться с нами</a>
			</div>
			<div class="right_block">
				<div class="slider_block">
					<div class="item">
						<img src="files/slider1.jpg" alt="">
					</div>
					<div class="item">
						<img src="files/slider2.jpg" alt="">
					</div>
					<div class="item">
						<img src="files/slider1.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="title_path_block">
		<div class="block_inner">
			<div class="path_block"><a href="/">Главная</a><span>></span>Услуги</div>
			<h1 class="title">Услуги</h1>
		</div>
	</div>
	<div class="tabs-wr-main">
		<div class="block_inner">
			<ul class="tabs-title">
				<li>
					</span>Для детей</span>
				</li>
				<li>
					</span>Для взрослых</span>
				</li>
			</ul>
			<div class="tabs-block">
				<ul class="">
					<li><a href="services/detskaya-stomatologiya/konsultacziya-i-diagnostika/" tooth2.png><span>Консультация и диагностика</span></a>
						<div class="text">когда вы только пришли к нам</div>
					</li>
					<li><a href="services/detskaya-stomatologiya/lechenie-zubov/" tooth2.png><span>Лечение зубов детям</span><span class="arrow"></span></a>
						<div class="text">когда зуб только заболел или с ним что-то не так</div>
						<div class="list">
							<ul class="">
								<li><a href="services/detskaya-stomatologiya/lechenie-kariesa/"><span>Лечение кариеса</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/detskaya-stomatologiya/lechenie-pulpita/"><span>Лечение пульпита</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/detskaya-stomatologiya/lechenie-stomatita/"><span>Лечение стоматита</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/detskaya-stomatologiya/lechenie-periodontita/"><span>Лечение периодонтита</span></a>
									<div class="text"></div>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="services/detskaya-stomatologiya/lechenie-zubov-pod-narkozom/" tooth5.png><span>Лечение зубов под седацией и общим наркозом</span></a>
						<div class="text">когда ребенок боится или особенные дети (ДЦП, аутизм, синдром дауна)</div>
					</li>
					<li><a href="services/detskaya-stomatologiya/ispravlenie-prikusa/" tooth2.png><span>Исправление прикуса</span></a>
						<div class="text">когда молочные зубы неровные</div>
					</li>
					<li><a href="services/detskaya-stomatologiya/plastika-uzdechki/"><span>Пластика уздечки</span></a>
						<div class="text">когда проблемы с кормлением или дефект речи</div>
					</li>
					<li><a href="services/detskaya-stomatologiya/profilaktika-zabolevanij/" tooth2.png><span>Профилактика</span><span class="arrow"></span></a>
						<div class="text">чтобы зубки не болели</div>
						<div class="list">
							<ul class="">
								<li><a href="services/detskaya-stomatologiya/profilaktika-zabolevanij/professionalnaya-chistka-zubov/"><span>Профессиональная чистка зубов</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/detskaya-stomatologiya/profilaktika-zabolevanij/remineralizacziya-molochnyix-zubov/"><span>Реминерализация эмали зубов</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/detskaya-stomatologiya/profilaktika-zabolevanij/ftorirovanie-zubov/"><span>Фторирование зубов</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/detskaya-stomatologiya/profilaktika-zabolevanij/germetizacziya-fissur/"><span>Герметизация фиссур</span></a>
									<div class="text"></div>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="services/detskaya-stomatologiya/lechenie-dyosen/" tooth2.png><span>Лечение дёсен</span></a>
						<div class="text">когда десна кровоточит или стоматит</div>
					</li>
					<li><a href="services/detskaya-stomatologiya/xirurgiya/" tooth2.png><span>Хирургия</span><span class="arrow"></span></a>
						<div class="text">когда зуб разрушен или болит</div>
						<div class="list">
							<ul class="">
								<li><a href="services/detskaya-stomatologiya/xirurgiya/udalenie-molochnogo-zuba/"><span>Удаление молочного зуба</span></a>
									<div class="text"></div>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="services/detskaya-stomatologiya/lechenie-travm-zubov/" tooth2.png><span>Лечение травм зубов</span></a>
						<div class="text">когда ребенок упал</div>
					</li>
					<li><a href="services/detskaya-stomatologiya/protezirovanie/" tooth2.png><span>Протезирование</span></a>
						<div class="text">когда зуб разрушен</div>
					</li>
					<li><a href="services/detskaya-stomatologiya/lechenie-zubov-podrostkam/" tooth2.png><span>Лечение зубов подросткам</span></a>
						<div class="text"></div>
					</li>
				</ul>
				<ul class="zr_list">
					<li><a href="services/vzroslaya-stomatologiya/pervichnaya-konsultacziya/" tooth4.png><span>Первичная консультация</span></a>
						<div class="text"></div>
					</li>
					<li class="red"><a href="services/vzroslaya-stomatologiya/pervichnaya-konsultacziya/" tooth4.png><span>Лечение зубов беременным</span></a>
						<div class="text"></div>
					</li>
					<li><a href="services/vzroslaya-stomatologiya/terapevt/" tooth1.png><span>Стоматолог-Терапевт</span><span class="arrow"></span></a>
						<div class="text"></div>
						<div class="list">
							<ul class="">
								<li><a href="services/vzroslaya-stomatologiya/terapevt/konsultacziya-i-diagnostika/" tooth1.png><span>Консультация и диагностика</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/terapevt/profilakticheskie-proczeduryi/" tooth1.png><span>Профилактика</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/terapevt/lechenie-slizistoj/" tooth1.png><span>Лечение болезней слизистой</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/terapevt/udalenie-nervov/" tooth1.png><span>Удаление нервов</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/terapevt/otbelivanie/" tooth1.png><span>Отбеливание</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/terapevt/restavracziya-zubov/" tooth1.png><span>Реставрация зубов</span></a>
									<div class="text"></div>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="services/vzroslaya-stomatologiya/gigienist/" tooth6.png><span>Стоматолог-Гигиенист</span><span class="arrow"></span></a>
						<div class="text"></div>
						<div class="list">
							<ul class="">
								<li><a href="services/vzroslaya-stomatologiya/gigienist/konsultacziya-i-diagnostika/" tooth6.png><span>Консультация и диагностика</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/gigienist/profilaktika/" tooth6.png><span>Профилактика</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/gigienist/udalenie-blyashek-i-kamnej/" tooth6.png><span>Удаление бляшек и камней</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/gigienist/udalenie-nalyota/" tooth6.png><span>Удаление налёта</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/gigienist/germetizacziya-fissur/" tooth6.png><span>Герметизация фиссур</span></a>
									<div class="text"></div>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="services/vzroslaya-stomatologiya/ortoped/" tooth1.png><span>Стоматолог-Ортопед</span><span class="arrow"></span></a>
						<div class="text"></div>
						<div class="list">
							<ul class="">
								<li><a href="services/vzroslaya-stomatologiya/ortoped/konsultacziya-i-diagnostika/" tooth1.png><span>Консультация и диагностика</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/ortoped/mikroprotezirovanie/" tooth1.png><span>Микропротезирование</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/ortoped/semnyie-protezyi/" tooth1.png><span>Съемные протезы</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/ortoped/nesemnyie-konstrukczii/" tooth1.png><span>Несъемные конструкции</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/ortoped/kosmeticheskoe-protezirovanie/" tooth1.png><span>Косметическое протезирование</span></a>
									<div class="text"></div>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="services/vzroslaya-stomatologiya/ortodont/" tooth3.png><span>Стоматолог-Ортодонт</span><span class="arrow"></span></a>
						<div class="text"></div>
						<div class="list">
							<ul class="">
								<li><a href="services/vzroslaya-stomatologiya/ortodont/konsultacziya-i-diagnostika/"><span>Консультация и диагностика</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/ortodont/ispravlenie-prikusa/"><span>Исправление прикуса</span></a>
									<div class="text"></div>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="services/vzroslaya-stomatologiya/paradantolog/" tooth1.png><span>Стоматолог-Пародонтолог</span></a>
						<div class="text"></div>
					</li>
					<li><a href="services/vzroslaya-stomatologiya/xirurg/" tooth1.png><span>Стоматолог-Хирург</span><span class="arrow"></span></a>
						<div class="text"></div>
						<div class="list">
							<ul class="">
								<li><a href="services/vzroslaya-stomatologiya/xirurg/konsultacziya-i-diagnostika/" tooth1.png><span>Консультация и диагностика</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/xirurg/udalenie-zubov/" tooth1.png><span>Удаление зубов</span></a>
									<div class="text"></div>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="services/vzroslaya-stomatologiya/implantolog/" tooth1.png><span>Стоматолог-Имплантолог</span><span class="arrow"></span></a>
						<div class="text"></div>
						<div class="list">
							<ul class="">
								<li><a href="services/vzroslaya-stomatologiya/implantolog/konsultacziya-i-diagnostika/" tooth1.png><span>Консультация и диагностика</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/implantolog/podbor-implantata/" tooth1.png><span>Подбор имплантата</span></a>
									<div class="text"></div>
								</li>
								<li><a href="services/vzroslaya-stomatologiya/implantolog/podbor-anestezii/" tooth1.png><span>Подбор анестезии</span></a>
									<div class="text"></div>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="kids_dan_block">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">Детская стоматологическая клиника Щелкунчик</div>
				<div class="body">
					<div class="body_inner">
						<p>Детская стоматология Щелкунчик - лидер в сфере детской стоматологии в России!!!</p>
						<p>Мы единственная клиника в Москве, которая объединила лучших специалистов в сфере детской стоматологии, кандидатов и докторов медицинских наук, врачей высшей категории, терапевтов, хирургов, ортодонтов. Мы создали подходящие для детей стандарты обслуживания, чтобы лечение зубов приносило детям радость, а родителям уверенность, что их дети в надёжных руках.</p>
						<p>Мы единственная клиника в Москве, которая объединила лучших специалистов в сфере детской стоматологии, кандидатов и докторов медицинских наук, врачей высшей категории, терапевтов, хирургов, ортодонтов. Мы создали подходящие для детей стандарты обслуживания, чтобы лечение зубов приносило детям радость, а родителям уверенность, что их дети в надёжных руках.</p>
					</div>
				</div>
				<div class="more_text">Показать весь текст</div>
			</div>
			<div class="right_block">
				<div class="image slider_image">
					<div class="item">
						<img src="files/kid.jpg" alt="">
						<div class="text">Лечение зубов под наркозом “Севоран” </div>
					</div>
					<div class="item">
						<img src="files/kid.jpg" alt="">
						<div class="text">text</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
	<div class="mobile_show_block">
		<div class="icon">
			<img src="files/logo-1.svg" alt="">
		</div>
		<div class="title">Лечение зубов под наркозом “Севоран” - эффективно  и безопасно!</div>
		<div class="text">Малыш спокойно спит, пока врач делает всё необходимое, а потом просыпается и быстро приходит в себя.</div>
		<a href="#" class="btn border">Подробнее</a>
	</div>
	<div class="form_green_block">
		<div class="block_inner">
			<div class="left_block">
				<div class="title">Записаться на консультацию</div>
				<div class="text">Заполните форму и в ближайшее время с вами свяжется администратор для уточнения подробностей</div>
			</div>
			<div class="right_block">
				<form>
					<div class="left_form">
						<div class="col_2">
							<div class="field">
								<div class="name_field">Ваше имя*</div>
								<input type="text" required placeholder="Например, Олег...">
							</div>
							<div class="field">
								<div class="name_field">Мобильный телефон*</div>
								<input type="text" required placeholder="+7 (___) ___-__-__">
							</div>
						</div>
						<div class="field_text">Нажимая кнопку «Отправить», Вы даете согласие на обработку персональных данных</div>
					</div>
					<div class="right_form">
						<input type="submite" value="Отправить" class="btn">
						<div class="phone">
							<div class="name_phone">или позвоните нам</div>
							<a href="tel:+74992887115">+7 (499) 288-71-15</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>	
	<div class="personal_block">
		<div class="block_inner">
			<div class="title">Врачи-стоматологи клиники "Щелкунчик"</div>
			<div class="text">В клинике ведут прием доктора и кандидаты медицинских наук, доктор медицинских наук Яцкевич Елена Евгеньевна, доктор медицинских наук Селезнев Дмитрий Александрович, кандидат медицинских наук Воронов Антон Сергеевич</div>
			<div class="inner">
				<div class="personal_slider">
					<div class="item">
						<div class="image">
							<a href="#">
								<img src="files/per1.jpg" alt="">
								<div class="labels">
									<div class="blue">Доктор медицинских наук</div>
									<div class="green">Врач высшей категорий</div>
								</div>
							</a>
						</div>
						<div class="name"><a href="#">Яцкевич Елена Евгеньевна</a></div>
						<div class="body">Главный врач</div>
					</div>
					<div class="item">
						<div class="image">
							<a href="#">
								<img src="files/per2.jpg" alt="">
								<div class="labels">
									<div class="blue">Доктор медицинских наук</div>
									<div class="green">Врач высшей категорий</div>
								</div>
							</a>
						</div>
						<div class="name"><a href="#">Селезнёв Дмитрий Александрович</a></div>
						<div class="body">Врач-ортодонт, член ассоциации ортодонтов России</div>
					</div>
					<div class="item">
						<div class="image">
							<a href="#">
								<img src="files/per3.jpg" alt="">
								<div class="labels">
									<div class="red">Кандидат медицинских наук</div>
									<div class="green">Врач высшей категорий</div>
								</div>
							</a>
						</div>
						<div class="name"><a href="#">Воронов Антон Сергеевич</a></div>
						<div class="body">Хирург, имплантолог</div>
					</div>
					<div class="item">
						<div class="image">
							<a href="#">
								<img src="files/per4.jpg" alt="">
								<div class="labels">
									<div class="green">Врач высшей категорий</div>
								</div>
							</a>
						</div>
						<div class="name"><a href="#">Первушина Лариса Александровна</a></div>
						<div class="body">Детский стоматолог</div>
					</div>
					<div class="item">
						<div class="image">
							<a href="#">
								<img src="files/per1.jpg" alt="">
								<div class="labels">
									<div class="blue">Доктор медицинских наук</div>
									<div class="green">Врач высшей категорий</div>
								</div>
							</a>
						</div>
						<div class="name"><a href="#">Яцкевич Елена Евгеньевна</a></div>
						<div class="body">Главный врач</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="r_bann_block">
		<div class="block_inner">
			<div class="title"><strong>Лечите зубы во сне!</strong> <br>Без страха и боли </div>
			<a href="#" class="btn border">Узнать подробнее</a>
		</div>
	</div>	
	<div class="like_it_block">
		<div class="block_inner">
			<div class="title">Вашему ребенку понравится в стоматологии «Щелкунчик»!</div>
			<div class="inner">
				<div class="images_slider">
					<div class="image">
						<a href="files/like1.jpg">
							<img src="files/like1.jpg" alt="">
						</a>
					</div>
					<div class="image">
						<a href="files/like2.jpg">
							<img src="files/like2.jpg" alt="">
						</a>
					</div>
					<div class="image">
						<a href="files/like3.jpg">
							<img src="files/like3.jpg" alt="">
						</a>
					</div>
				</div>
				<div class="images">
					<div class="image">
						<a href="files/like1.jpg">
							<img src="files/like1.jpg" alt="">
						</a>
					</div>
					<div class="image">
						<a href="files/like2.jpg">
							<img src="files/like2.jpg" alt="">
						</a>
					</div>
					<div class="image">
						<a href="files/like3.jpg">
							<img src="files/like3.jpg" alt="">
						</a>
					</div>
				</div>
				<div class="video">
					<iframe width="100%" height="270" src="https://www.youtube.com/embed/Nl8c8iO4x0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>		
	<div class="mobile_show_block green">
		<div class="icon">
			<img src="files/logo-2.svg" alt="">
		</div>
		<div class="title">Учебный центр по детской стоматологии “Щелкунчик”</div>
		<div class="text">Мы обучаем детской стоматологии подробно шаг за шагом, тема за темой доступным языком и профессиональными методами.</div>
		<a href="#" class="btn border">Подробнее</a>
	</div>	
	<div class="eks_block main_page_hide">
		<div class="block_inner">
			<div class="title">Приглашаем Вас на экскурсию по нашим клиникам:</div>
			<div class="inner">
				<a href="#" class="item">
					<span class="image">
						<img src="files/eks1.jpg" alt="">
					</span>
					<span class="body">
						<span class="name">м. Раменки</span>
						<span class="text">Мичуринский пр., 29 (минута от метро)</span>
					</span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/eks2.jpg" alt="">
					</span>
					<span class="body">
						<span class="name">м. Войковская</span>
						<span class="text">ул. Зои и Александра Космодемьянских, д. 39</span>
					</span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/eks3.jpg" alt="">
					</span>
					<span class="body">
						<span class="name">г. Красногорск</span>
						<span class="text">ул. Успенская д. 24</span>
					</span>
				</a>
			</div>
		</div>
	</div>		
	<div class="contacts_map">
		<div class="block_inner">
			<div class="inner">
				<div class="tab_map_block">
					<ul class="tab_map_title tabs-title">
						<li class="metro active"><span>Раменки</span></li>
						<li class="metro"><span>Войковская</span></li>
						<li><span>г. Красногорск</span></li>
					</ul>
					<div class="tab_map_body tabs-block">
						<div class="tab_main active">
							<div class="left_map">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf9519109074900e0b2ae271cfcb327b80e69942a9c114efb8bb8335a8df86d4&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
							</div>
							<div class="right_map">
								<div class="top_bb">
									<div class="icon">
										<img src="img/metro.svg" alt="">
									</div>
									<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
								</div>
								<div class="metro">Раменки</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div>
									<a href="tel:+7 (495) 734-11-66" class="phone">+7 (495) 734-11-66</a>
								</div>
								<div>
									<a href="tel:+7 (495) 734-11-77" class="phone">+7 (495) 734-11-77</a>
								</div>
								<div>
									<a href="https://wa.me/79163600909" class="whatsapp">+7 (916) 360-09-09</a>
								</div>
								<div class="rekv">Реквизиты клиники: ООО «Щелкунчик 8», <br>ИНН 7705537855, КПП 772901001</div>
							</div>
						</div>
						<div class="tab_main">
							<div class="left_map">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf9519109074900e0b2ae271cfcb327b80e69942a9c114efb8bb8335a8df86d4&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
							</div>
							<div class="right_map">
								<div class="top_bb">
									<div class="icon">
										<img src="img/metro_green.svg" alt="">
									</div>
									<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
								</div>
								<div class="metro">Войковская</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div>
									<a href="tel:+7 (495) 734-11-66" class="phone">+7 (495) 734-11-66</a>
								</div>
								<div>
									<a href="tel:+7 (495) 734-11-77" class="phone">+7 (495) 734-11-77</a>
								</div>
								<div>
									<a href="https://wa.me/79163600909" class="whatsapp">+7 (916) 360-09-09</a>
								</div>
								<div class="rekv">Реквизиты клиники: ООО «Щелкунчик 8», <br>ИНН 7705537855, КПП 772901001</div>
							</div>
						</div>
						<div class="tab_main">
							<div class="left_map">
								<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaf9519109074900e0b2ae271cfcb327b80e69942a9c114efb8bb8335a8df86d4&amp;source=constructor" width="100%" height="416" frameborder="0"></iframe>
							</div>
							<div class="right_map">
								<div class="top_bb">
									<div class="time">Время работы: <br>Пн-Вс: 9:00 - 21:00</div>
								</div>
								<div class="metro">г. Красногорск</div>
								<div class="address">Мичуринский пр., 29 (минута от метро)</div>
								<div>
									<a href="tel:+7 (495) 734-11-66" class="phone">+7 (495) 734-11-66</a>
								</div>
								<div>
									<a href="tel:+7 (495) 734-11-77" class="phone">+7 (495) 734-11-77</a>
								</div>
								<div>
									<a href="https://wa.me/79163600909" class="whatsapp">+7 (916) 360-09-09</a>
								</div>
								<div class="rekv">Реквизиты клиники: ООО «Щелкунчик 8», <br>ИНН 7705537855, КПП 772901001</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>				
	</div>										
include _footer.jade